.Card {
  width: 240px;

  &.Selected {
    border: 2px solid #1890ff;
    box-shadow: 0 0 8px rgba(24, 144, 255, 0.4);
    border-radius: 6px;
    transition: all 0.3s ease;
  }

  &.Disabled {
    opacity: 0.6;
    filter: grayscale(100%);
    pointer-events: none;
    cursor: not-allowed;

    &:hover {
      transform: none;
      box-shadow: none;
    }
  }
}
